{% extends "layout.html" %}

{% block title %}
    Fernando Alonso
{% endblock %}

{% block main %}
    <h1>Information about Fernando Alonso</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Alonso 2016.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Alonso_2016.jpg/240px-Alonso_2016.jpg" decoding="async" width="240" height="300" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Alonso_2016.jpg/360px-Alonso_2016.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Alonso_2016.jpg/480px-Alonso_2016.jpg 2x" data-file-width="896" data-file-height="1121"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Nationality</b>
</td>
<td style="vertical-align: top; text-align: left;">Spanish
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Born</b>
</td>
<td style="vertical-align: top; text-align: left;">29 July 1981 (age 39)
</td></tr>
 

 

 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Height</b>
</td>
<td style="vertical-align: top; text-align: left;">1.71 m
</td></tr>
 

<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2001, 2003-2018, 2021-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Teams</b>
</td>
<td style="vertical-align: top; text-align: left;">5 (Minardi, Renault, <a href="/mclaren">McLaren</a>, <a href="/ferrari">Ferrari</a> and <a href="/alpine">Alpine</a>)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">323 (320 starts)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">2 (2005 and 2006)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">32
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">97
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">1 919
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">22
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">23
</td></tr>
 

 

{% endblock %}