{% extends "layout.html" %}

{% block title %}
     AlphaTauri F1 Team
{% endblock %}

{% block main %}
    <h1>Information about AlphaTauri F1 Team</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Scuderia Alpha-Tauri.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/0/09/Scuderia_Alpha-Tauri.svg/220px-Scuderia_Alpha-Tauri.svg.png" decoding="async" width="220" height="188" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/09/Scuderia_Alpha-Tauri.svg/330px-Scuderia_Alpha-Tauri.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/09/Scuderia_Alpha-Tauri.svg/440px-Scuderia_Alpha-Tauri.svg.png 2x" data-file-width="342" data-file-height="292"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>License</b>
</td>
<td style="vertical-align: top; text-align: left;">Italian
</td></tr>
 


<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2020-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">26
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Constuctors Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Drivers Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">1
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">2
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">155
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 

{% endblock %}