{% extends "layout.html" %}

{% block title %}
    Lewis Hamilton
{% endblock %}

{% block main %}
    <h1>Information about Lewis Hamilton</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lewis_Hamilton_2016_Malaysia_2.jpg/240px-Lewis_Hamilton_2016_Malaysia_2.jpg" decoding="async" width="240" height="360" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lewis_Hamilton_2016_Malaysia_2.jpg/360px-Lewis_Hamilton_2016_Malaysia_2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/18/Lewis_Hamilton_2016_Malaysia_2.jpg/480px-Lewis_Hamilton_2016_Malaysia_2.jpg 2x" data-file-width="800" data-file-height="1200"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Nationality</b>
</td>
<td style="vertical-align: top; text-align: left;">British
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Born</b>
</td>
<td style="vertical-align: top; text-align: left;">7 January 1985 (age 36)
</td></tr>
 

 

 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Height</b>
</td>
<td style="vertical-align: top; text-align: left;">1.74 m
</td></tr>
 

<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2007-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Teams</b>
</td>
<td style="vertical-align: top; text-align: left;">2 (<a href="/mclaren">McLaren</a> and <a href="/mercedes">Mercedes</a>)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">275 (275 starts)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">7 (2008, 2014, 2015, 2017, 2018, 2019 and 2020)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">98
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">171
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">3 928
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">100
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">56
</td></tr>
 

 

{% endblock %}