{% extends "layout.html" %}

{% block title %}
    Charles Leclerc
{% endblock %}

{% block main %}
    <h1>Information about Charles Leclerc</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="F12019 Leclerc Schloss Gabelhofen.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/62/F12019_Leclerc_Schloss_Gabelhofen.jpg/220px-F12019_Leclerc_Schloss_Gabelhofen.jpg" decoding="async" width="220" height="350" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/62/F12019_Leclerc_Schloss_Gabelhofen.jpg/330px-F12019_Leclerc_Schloss_Gabelhofen.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/62/F12019_Leclerc_Schloss_Gabelhofen.jpg/440px-F12019_Leclerc_Schloss_Gabelhofen.jpg 2x" data-file-width="546" data-file-height="868"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Nationality</b>
</td>
<td style="vertical-align: top; text-align: left;">Monegasque
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Born</b>
</td>
<td style="vertical-align: top; text-align: left;">16 October 1997 (age 23)
</td></tr>
 

 

 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Height</b>
</td>
<td style="vertical-align: top; text-align: left;">1.78 m
</td></tr>
 

<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2018-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Teams</b>
</td>
<td style="vertical-align: top; text-align: left;">2 (Sauber and <a href="/ferrari">Ferrari</a>)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">68 (67 starts)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">2
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">12
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">463
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">9
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">4
</td></tr>
 

 

{% endblock %}