{% extends "layout.html" %}

{% block title %}
     McLaren F1 Team
{% endblock %}

{% block main %}
    <h1>Information about McLaren F1 Team</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="McLaren Racing logo.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/6/66/McLaren_Racing_logo.svg/220px-McLaren_Racing_logo.svg.png" decoding="async" width="440" height="132" srcset="//upload.wikimedia.org/wikipedia/en/thumb/6/66/McLaren_Racing_logo.svg/330px-McLaren_Racing_logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/6/66/McLaren_Racing_logo.svg/440px-McLaren_Racing_logo.svg.png 2x" data-file-width="1024" data-file-height="308"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>License</b>
</td>
<td style="vertical-align: top; text-align: left;">British
</td></tr>
 


<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">1966-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">893
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Constuctors Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">8 (1974, 1984, 1985, 1988, 1989, 1990, 1991, 1998)
</td></tr>
 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Drivers Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">12 (1974, 1976, 1984, 1985, 1986, 1988, 1989, 1990, 1991, 1998, 1999, 2008)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">182
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">491
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">5 696.5
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">155
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">158
</td></tr>
 

 

{% endblock %}