{% extends "layout.html" %}

{% block title %}
     Mercedes F1 Team
{% endblock %}

{% block main %}
    <h1>Information about Mercedes F1 Team</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Mercedes-Benz AMG Petronas Formula One Team Logo Wheelsology.JPG" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Mercedes-Benz_AMG_Petronas_Formula_One_Team_Logo_Wheelsology.JPG/280px-Mercedes-Benz_AMG_Petronas_Formula_One_Team_Logo_Wheelsology.JPG" decoding="async" width="280" height="187" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Mercedes-Benz_AMG_Petronas_Formula_One_Team_Logo_Wheelsology.JPG/420px-Mercedes-Benz_AMG_Petronas_Formula_One_Team_Logo_Wheelsology.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Mercedes-Benz_AMG_Petronas_Formula_One_Team_Logo_Wheelsology.JPG/560px-Mercedes-Benz_AMG_Petronas_Formula_One_Team_Logo_Wheelsology.JPG 2x" data-file-width="850" data-file-height="567"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>License</b>
</td>
<td style="vertical-align: top; text-align: left;">German
</td></tr>
 


<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">1954, 1955, 2010-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">236
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Constuctors Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">7 (2014, 2015, 2016, 2017, 2018, 2019, 2020)
</td></tr>
 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Drivers Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">9 (1954, 1955, 2014, 2015, 2016, 2017, 2018, 2019, 2020)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">118
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">247
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">5 927
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">129
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">89
</td></tr>
 

 

{% endblock %}