{% extends "layout.html" %}

{% block title %}
    Sergio Perez
{% endblock %}

{% block main %}
    <h1>Information about Sergio Perez</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sergio_P%C3%A9rez_2019_%28cropped%29.jpg/230px-Sergio_P%C3%A9rez_2019_%28cropped%29.jpg" decoding="async" width="230" height="307" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sergio_P%C3%A9rez_2019_%28cropped%29.jpg/345px-Sergio_P%C3%A9rez_2019_%28cropped%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Sergio_P%C3%A9rez_2019_%28cropped%29.jpg/460px-Sergio_P%C3%A9rez_2019_%28cropped%29.jpg 2x" data-file-width="475" data-file-height="634"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Nationality</b>
</td>
<td style="vertical-align: top; text-align: left;">Mexican
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Born</b>
</td>
<td style="vertical-align: top; text-align: left;">26 January 1990 (age 31)
</td></tr>
 

 

 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Height</b>
</td>
<td style="vertical-align: top; text-align: left;">1.75 m
</td></tr>
 

<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2011-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Teams</b>
</td>
<td style="vertical-align: top; text-align: left;">5 (Sauber, <a href="/mclaren">McLaren</a>, Force India, Racing Point and <a href="/redbull">Red Bull</a>)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">204 (200 starts)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">2
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">12
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">810
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">4
</td></tr>
 

 

{% endblock %}