{% extends "layout.html" %}

{% block title %}
     Red Bull F1 Team
{% endblock %}

{% block main %}
    <h1>Information about Red Bull F1 Team</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Logotipo da Red Bull Racing.png" src="//upload.wikimedia.org/wikipedia/pt/thumb/c/c6/Logotipo_da_Red_Bull_Racing.png/300px-Logotipo_da_Red_Bull_Racing.png" decoding="async" width="300" height="92" srcset="//upload.wikimedia.org/wikipedia/pt/thumb/c/c6/Logotipo_da_Red_Bull_Racing.png/450px-Logotipo_da_Red_Bull_Racing.png 1.5x, //upload.wikimedia.org/wikipedia/pt/c/c6/Logotipo_da_Red_Bull_Racing.png 2x" data-file-width="570" data-file-height="175"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>License</b>
</td>
<td style="vertical-align: top; text-align: left;">Austrian
</td></tr>
 


<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2005-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">313
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Constuctors Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">4 (2010, 2011, 2012, 2013)
</td></tr>
 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Drivers Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">4 (2010, 2011, 2012, 2013)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">70
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">193
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">5 329.5
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">67
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">72
</td></tr>
 

 

{% endblock %}