{% extends "layout.html" %}

{% block title %}
    Carlos Sainz
{% endblock %}

{% block main %}
    <h1>Information about Carlos Sainz</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Formel12021-SchlossGabelhofen(15).jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Formel12021-SchlossGabelhofen%2815%29.jpg/250px-Formel12021-SchlossGabelhofen%2815%29.jpg" decoding="async" width="250" height="375" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Formel12021-SchlossGabelhofen%2815%29.jpg/375px-Formel12021-SchlossGabelhofen%2815%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Formel12021-SchlossGabelhofen%2815%29.jpg/500px-Formel12021-SchlossGabelhofen%2815%29.jpg 2x" data-file-width="3456" data-file-height="5184"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Nationality</b>
</td>
<td style="vertical-align: top; text-align: left;">Spanish
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Born</b>
</td>
<td style="vertical-align: top; text-align: left;">1 September 1994 (age 26)
</td></tr>
 

 

 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Height</b>
</td>
<td style="vertical-align: top; text-align: left;">1.78 m
</td></tr>
 

<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2015-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Teams</b>
</td>
<td style="vertical-align: top; text-align: left;">4 (Toro Rosso, Renault, <a href="/mclaren">McLaren</a> and <a href="/ferrari">Ferrari</a>)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">128 (127 starts)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">3
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">432
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">1
</td></tr>
 

 

{% endblock %}