{% extends "layout.html" %}

{% block title %}
    Yuki Tsunoda
{% endblock %}

{% block main %}
    <h1>Information about Yuki Tsunoda</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Yuki Tsunoda Scuderia AlphaTauri.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Yuki_Tsunoda_Scuderia_AlphaTauri.jpg/220px-Yuki_Tsunoda_Scuderia_AlphaTauri.jpg" decoding="async" width="220" height="250" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Yuki_Tsunoda_Scuderia_AlphaTauri.jpg/330px-Yuki_Tsunoda_Scuderia_AlphaTauri.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Yuki_Tsunoda_Scuderia_AlphaTauri.jpg/440px-Yuki_Tsunoda_Scuderia_AlphaTauri.jpg 2x" data-file-width="951" data-file-height="1080"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Nationality</b>
</td>
<td style="vertical-align: top; text-align: left;">Japanese
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Born</b>
</td>
<td style="vertical-align: top; text-align: left;">11 May 2000 (age 21)
</td></tr>
 

 

 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Height</b>
</td>
<td style="vertical-align: top; text-align: left;">1.59 m
</td></tr>
 

<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">2021-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Teams</b>
</td>
<td style="vertical-align: top; text-align: left;">1 (<a href="/alphatauri">AlphaTauri</a>)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">9 (9 starts)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">9
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">0
</td></tr>
 

 

{% endblock %}