{% extends "layout.html" %}

{% block title %}
     Williams F1 Team
{% endblock %}

{% block main %}
    <h1>Information about Williams F1 Team</h1>
    <br>
    <table class="infobox infobox_v2" cellpadding="3" border="0" style="width: 37em; font-size: 180%">

<tbody>

<tr>
<td colspan="2" style="text-align:center;"><div style="padding-bottom: 5px;"><div class="center"><div class="floatnone"><img alt="Logotipo da Williams F1.png" src="//upload.wikimedia.org/wikipedia/pt/thumb/e/ed/Logotipo_da_Williams_F1.png/250px-Logotipo_da_Williams_F1.png" decoding="async" width="400" height="36" srcset="//upload.wikimedia.org/wikipedia/pt/thumb/e/ed/Logotipo_da_Williams_F1.png/375px-Logotipo_da_Williams_F1.png 1.5x, //upload.wikimedia.org/wikipedia/pt/e/ed/Logotipo_da_Williams_F1.png 2x" data-file-width="409" data-file-height="30"></div></div></div>
</td></tr>





<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>License</b>
</td>
<td style="vertical-align: top; text-align: left;">British
</td></tr>
 


<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Seasons in Formula 1</b>
</td>
<td style="vertical-align: top; text-align: left;">1977-
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Disputed GPs</b>
</td>
<td style="vertical-align: top; text-align: left;">761
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Constuctors Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">9 (1980, 1981, 1986, 1987, 1992, 1993, 1994, 1996, 1997)
</td></tr>
 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Drivers Championships</b>
</td>
<td style="vertical-align: top; text-align: left;">7 (1980, 1982, 1987, 1992, 1993, 1996, 1997)
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Wins</b>
</td>
<td style="vertical-align: top; text-align: left;">114
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Podiums</b>
</td>
<td style="vertical-align: top; text-align: left;">312
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Points</b>
</td>
<td style="vertical-align: top; text-align: left;">3 561
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Pole positions</b>
</td>
<td style="vertical-align: top; text-align: left;">128
</td></tr>
 

 
<tr>
<td scope="row" style="vertical-align: top; text-align: left;"><b>Fastest laps</b>
</td>
<td style="vertical-align: top; text-align: left;">133
</td></tr>
 

 

{% endblock %}